:root{
  --color-black: #0B132A;
  --color-gray: #4F5665;
  --color-red: #F53838;
  --color-orange: #FEA250;

  --bg-color-red-rgb: 245, 56, 56;

  --border-gray: #EEEFF2;
  --border-gray-medium: #DDDDDD;

  --dot-gray: #DDE0E4;

  --shadow-black: #0D1025;
}